@charset"utf-8";
.box {
    padding: 1em 1em;
    margin: 1em 1em;
    border: solid 5px #0B0B61;
	  width: 100px; height: 200px;
	  font-size: 25px;
		background:url('/images/boxpic.jpeg');
		border-image: url('/images/border.jpeg') 24 24 round;
}
.box p{
	position: absolute;
	margin: auto;
}

.ans {
	font-size: 50px;
	writing-mode: vertical-rl;
	color: aliceblue;
	position:absolute;
	top:50%;
	left:50%;
	display:inline;
	transform:translate(-50%, -50%);
}
.next{
	color: aliceblue;
	font-size: 30px;
	top:70%;
	left:50%;
	display:inline;
	transform:translate(-50%, -50%);
}