@charset"utf-8";
.box {
    padding: 1em 1em;
    margin: 1em 1em;
    border: solid 5px #0B0B61;
	  width: 100px; height: 200px;
	  font-size: 25px;
		background:url('/images/boxpic.jpeg');
}
.box p{
	position: absolute;
	margin: auto;
}