@charset"utf-8";
a:link { color:#000; text-decoration:none }
a:visited { color:#000; text-decoration:none }
a:hover { color:#000; text-decoration:none }
a:active { color:#000; text-decoration:none }

body {
  background: url(/images/mainpic.jpg) center center / cover no-repeat fixed;
	writing-mode: vertical-rl;
}
h1{
	font-size: 50px;
}
body .l{
	writing-mode: vertical-rl;
	position:absolute;
	top:50%;
	left:50%;
	display:inline;
	transform:translate(-50%, -50%);
}
