@charset"utf-8";
a:link { color:#000; text-decoration:none }
a:visited { color:#000; text-decoration:none }
a:hover { color:#000; text-decoration:none }
a:active { color:#000; text-decoration:none }

html,body {
  background: url(/images/mainpic5.jpg) center center / cover no-repeat fixed;
	writing-mode: vertical-rl;
	font-family: "Kokoro";
	margin:0px; padding:0px; height:100%;
	
}

body:before {
  content: "";
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0; 
  background: rgba(0,0,0,0.5);
  pointer-events: none;
}


/* ▼ボックスの高さを最低でも1画面分にする */
div.pagebox {
   min-height: 100%;
}
h1{
	position:absolute;
	font-size: 50px;
	color: aliceblue;

}
h1:first-letter {
	font-size: 2em;
	color: #7172ac;
}
.pagebox .l{
	position:absolute;
	top: 20%;
	left:50%;
	display:inline;
	transform:translate(-50%, -50%)
}
.pagebox .m{
	position:absolute;
	top:50%;
	left:50%;
	display:inline;
	transform:translate(-50%, -50%);
}